@{
    ViewData["Title"] = "Home Page";
}

<!-- Search Section -->
<section>
    <div class="container">
        <form asp-action="Search">
            <div class="p-3 search-main">
                <button class="btn search-btn-icon">
                    <i class=" fa fa-search"></i>
                </button>
                <input type="text" class="form-control searche-box-style" id="searchbook" />
                <button class="btn btn-success search-btn" id="searchBtn">Search</button>
            </div>
        </form>
    </div>
</section>

<!-- Banner Section -->
<div class="container-fluid">

</div>

<!-- All Books Section -->
<div class="container-fluid">

</div>
